.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: auto;
}

.photo-grid__list-item {
  list-style-type: none;
  overflow: clip;
  overflow-clip-margin: content-box;
}

@media screen and (max-width: 567px){
  .photo-grid__list {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 1fr);
      gap: 12px;
  }
}

@media screen and (max-width: 998px) and (min-width: 568px){
  .photo-grid__list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 16px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 999px){
  .photo-grid__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 14px;
  }
}