.header__logo-image {
  max-height: 52px;
  margin: 28px 0 0 48px;
}

@media screen and (max-width: 999px){
  .header__logo-image {
      margin: 28px 0 0 24px;
  }
}

@media screen and (max-width: 567px){
  .header__logo-image {
      max-height: 42px;
      margin: 16px 0 0 16px;
  }
}