.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  grid-template-areas:
  "title url"
  "image description";
  margin-bottom: 80px;
  max-width: 984px;
  margin: 80px auto auto; 
}

@media screen and (max-width: 1100px) {
  .place {
      gap: 48px 32px;
      margin: 80px 48px auto 48px; 
  }
}

@media screen and (max-width: 999px) {
  .place {
      grid-template-columns: 340px 1fr;
      grid-gap: 48px 28px;
      margin: 72px 24px auto 24px; 
  }
}

@media screen and (max-width: 665px) {
  .place {
      grid-template-areas: "title url"
  "image description";
      grid-template-columns: minmax(200px, 1fr) 1fr;
  }
}

@media screen and (max-width: 568px) {
  .place {
      grid-template-columns: 1fr;
      gap: 32px;
      grid-template-areas:
      "title"
      "url"
      "image"
      "description";
      margin: 50px 16px auto 16px; 
  }
}