.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  grid-template-areas:
  "title url"
  "image description";
  max-width: 984px;
  margin-top: 80px; 
}

@media screen and (max-width: 1100px) {
  .place {
      grid-template-columns: 440px 1fr;
      gap: 48px 32px;
  }
}

@media screen and (max-width: 999px) {
  .place {
      grid-template-columns: 340px 1fr;
      grid-template-rows: min-content 1fr;
      grid-gap: 48px 28px;
      margin-top: 73px; 
  }
}

@media screen and (max-width: 665px) {
  .place {
      grid-template-areas: "title url"
  "image description";
      grid-template-columns: minmax(200px, 1fr) 1fr;
  }
}

@media screen and (max-width: 568px) {
  .place {
      grid-template-columns: 1fr;
      gap: 32px;
      grid-template-areas:
      "title"
      "url"
      "image"
      "description";
      margin-top: 50px; 
  }
}